src/main/webapp/static/xsd/fp/disbursementVoucher.xsd

<xsd:schema elementFormDefault="qualified"
    targetNamespace="http://www.kuali.org/kfs/fp/disbursementVoucher"
    xmlns:kfs="http://www.kuali.org/kfs/sys/types"
    xmlns:rsmart="http://www.kuali.org/kfs/sys/rsmarttypes"
    xmlns="http://www.kuali.org/kfs/fp/disbursementVoucher" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:import namespace="http://www.kuali.org/kfs/sys/types" schemaLocation="http://127.0.0.1:8080/static/xsd/sys/types.xsd" />
    <xsd:import namespace="http://www.kuali.org/kfs/sys/rsmarttypes" schemaLocation="@externalizable.static.content.url@/xsd/sys/rsmartTypes.xsd" />
    
    <xsd:simpleType name="versionType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="1.0"/>
        </xsd:restriction>
    </xsd:simpleType>
   
    <xsd:element name="unit" type="xsd:string"/> 
    <xsd:element name="explanation" type="xsd:string"/>
    <xsd:element name="organizationDocumentNumber" type="xsd:string"/>
    <xsd:element name="disbVchrContactPersonName" type="xsd:string"/>
    <xsd:element name="disbVchrContactPhoneNumber" type="xsd:string"/>
    <xsd:element name="disbVchrContactEmailId" type="xsd:string"/>
    <xsd:element name="disbursementVoucherDueDate" type="xsd:string"/>
    <xsd:element name="disbVchrAttachmentCode" type="kfs:indicatorType" />
    <xsd:element name="disbVchrSpecialHandlingCode" type="kfs:indicatorType"/>
    <xsd:element name="disbVchrCheckTotalAmount" type="kfs:amountType"/>
    <xsd:element name="disbursementVoucherDocumentationLocationCode" type="xsd:string"/>
    <xsd:element name="disbVchrPaymentMethodCode" type="xsd:string"/>
    <xsd:element name="campusCode" type="xsd:string"/>
    <xsd:element name="disbVchrCheckStubText" type="xsd:string"/>
    <xsd:element name="disbVchrBankCode" type="xsd:string"/>
    <xsd:element name="disbVchrPaymentReasonCode" type="xsd:string"/>
    <xsd:element name="disbVchrPayeeIdNumber" type="xsd:string"/>
    <xsd:element name="disbVchrPayeeTypeCode" type="xsd:string"/>
    <xsd:element name="disbVchrPayeeLine1Addr" type="xsd:string"/>
    <xsd:element name="disbVchrPayeeLine2Addr" type="xsd:string"/>
    <xsd:element name="disbVchrPayeeCityName" type="xsd:string"/>
    <xsd:element name="disbVchrPayeeStateCode" type="xsd:string"/>
    <xsd:element name="disbVchrPayeeZipCode" type="xsd:string"/>
    <xsd:element name="disbVchrPayeeCountryCode" type="xsd:string"/>
    <xsd:element name="disbVchrSpecialHandlingPersonName" type="xsd:string"/>
    <xsd:element name="disbVchrSpecialHandlingLine1Addr" type="xsd:string"/>
    <xsd:element name="disbVchrSpecialHandlingLine2Addr" type="xsd:string"/>
    <xsd:element name="disbVchrSpecialHandlingCityName" type="xsd:string"/>
    <xsd:element name="disbVchrSpecialHandlingZipCode" type="xsd:string"/>
    <xsd:element name="disbVchrSpecialHandlingCountryCode" type="xsd:string"/>
    <xsd:element name="exceptionIndicator" type="kfs:indicatorType"/>
    <xsd:element name="chartOfAccountsCode" type="xsd:string"/>
    <xsd:element name="accountNumber" type="xsd:string"/>
    <xsd:element name="subAccountNumber" type="xsd:string"/>
    <xsd:element name="financialObjectCode" type="xsd:string"/>
    <xsd:element name="financialSubObjectCode" type="xsd:string"/>
    <xsd:element name="projectCode" type="xsd:string"/>
    <xsd:element name="organizationReferenceId" type="xsd:string"/>
    <xsd:element name="financialDocumentLineDescription" type="xsd:string"/>
    <xsd:element name="amount" type="xsd:decimal"/>
    <xsd:element name="incomeClassCode" type="xsd:string"/>
    <xsd:element name="postalCountryCode" type="xsd:string"/>
    <xsd:element name="incomeTaxTreatyExemptCode" type="kfs:indicatorType"/>
    <xsd:element name="foreignSourceIncomeCode" type="kfs:indicatorType"/>
    <xsd:element name="incomeTaxGrossUpCode" type="kfs:indicatorType"/>
    <xsd:element name="federalIncomeTaxPercent" type="xsd:decimal"/>
    <xsd:element name="stateIncomeTaxPercent" type="xsd:decimal"/>
    <xsd:element name="referenceFinancialDocumentNumber" type="xsd:string"/>
    <xsd:element name="disbursementVoucherBankName" type="xsd:string"/>
    <xsd:element name="disbVchrBankRoutingNumber" type="xsd:string"/>
    <xsd:element name="disbVchrBankCityName" type="xsd:string"/>
    <xsd:element name="disbVchrBankStateCode" type="xsd:string"/>
    <xsd:element name="disbVchrBankCountryCode" type="xsd:string"/>
    <xsd:element name="disbVchrAttentionLineText" type="xsd:string"/>
    <xsd:element name="disbVchrAdditionalWireText" type="xsd:string"/>
    <xsd:element name="disbVchrPayeeAccountNumber" type="xsd:string"/>
    <xsd:element name="disbVchrCurrencyTypeCode" type="xsd:string"/>
    <xsd:element name="disbVchrCurrencyTypeName" type="xsd:string"/>
    <xsd:element name="disbursementVoucherWireTransferFeeWaiverIndicator" type="kfs:indicatorType"/>
    <xsd:element name="disbursementVoucherPayeeAccountName" type="xsd:string"/>
    <xsd:element name="disbursementVoucherAutomatedClearingHouseProfileNumber" type="xsd:string"/>
    <xsd:element name="disbursementVoucherForeignCurrencyTypeCode" type="xsd:string"/>
    <xsd:element name="disbursementVoucherForeignCurrencyTypeName" type="xsd:string"/>    
    <xsd:element name="noteText" type="xsd:string"/>
    <xsd:element name="mimeTypeCode" type="xsd:string"/>
    <xsd:element name="fileName" type="xsd:string"/>
    
    <!-- definition of attributes -->
    
    <!-- definition of complex type elements -->
    <xsd:element name="dv_file">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1" ref="header"/>
                <xsd:element maxOccurs="unbounded" minOccurs="1" ref="dv"/>
            </xsd:sequence>
            <xsd:attribute name="version" type="versionType" use="required"/>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="header">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1" ref="unit"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>   
    
    <xsd:element name="documentHeader">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="0" ref="explanation"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="organizationDocumentNumber"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element> 
    
    <xsd:element name="dv">
        <xsd:complexType>
            <xsd:sequence>
            	<xsd:element maxOccurs="1" minOccurs="0" ref="documentHeader"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="disbVchrContactPersonName"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="disbVchrContactPhoneNumber"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="disbVchrContactEmailId"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="campusCode"/>
                <xsd:element maxOccurs="1" minOccurs="1" ref="disbursementVoucherDueDate"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="disbVchrAttachmentCode"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="disbVchrSpecialHandlingCode"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="exceptionIndicator"/>
                <xsd:element maxOccurs="1" minOccurs="1" ref="disbVchrCheckTotalAmount"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="disbursementVoucherDocumentationLocationCode"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="disbVchrPaymentMethodCode"/>
                <xsd:element maxOccurs="1" minOccurs="1" ref="disbVchrCheckStubText"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="disbVchrBankCode"/>
                <xsd:element maxOccurs="1" minOccurs="1" ref="payeeDetail"/>
                <xsd:element maxOccurs="unbounded" minOccurs="1" ref="accounting"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="nra"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="wire"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="foreigndraft"/>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="note"/>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="attachment"/>                
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="payeeDetail">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1" ref="disbVchrPaymentReasonCode"/>
                <xsd:element maxOccurs="1" minOccurs="1" ref="disbVchrPayeeIdNumber"/>
                <xsd:element maxOccurs="1" minOccurs="1" ref="disbVchrPayeeTypeCode"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="disbVchrPayeeLine1Addr"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="disbVchrPayeeLine2Addr"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="disbVchrPayeeCityName"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="disbVchrPayeeStateCode"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="disbVchrPayeeZipCode"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="disbVchrPayeeCountryCode"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="disbVchrSpecialHandlingPersonName"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="disbVchrSpecialHandlingLine1Addr"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="disbVchrSpecialHandlingLine2Addr"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="disbVchrSpecialHandlingCityName"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="disbVchrSpecialHandlingZipCode"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="disbVchrSpecialHandlingCountryCode"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="accounting">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="0" ref="chartOfAccountsCode"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="accountNumber"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="subAccountNumber"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="financialObjectCode"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="financialSubObjectCode"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="projectCode"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="organizationReferenceId"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="financialDocumentLineDescription"/>                
                <xsd:element maxOccurs="1" minOccurs="1" ref="amount"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="nra">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="0" ref="incomeClassCode"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="postalCountryCode"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="incomeTaxTreatyExemptCode"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="foreignSourceIncomeCode"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="incomeTaxGrossUpCode"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="federalIncomeTaxPercent"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="stateIncomeTaxPercent"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="referenceFinancialDocumentNumber"/>                
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
        
    <xsd:element name="wire">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="0" ref="disbursementVoucherBankName"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="disbVchrBankRoutingNumber"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="disbVchrBankCityName"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="disbVchrBankStateCode"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="disbVchrBankCountryCode"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="disbVchrAttentionLineText"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="disbVchrAdditionalWireText"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="disbVchrPayeeAccountNumber"/> 
                <xsd:element maxOccurs="1" minOccurs="0" ref="disbVchrCurrencyTypeCode"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="disbVchrCurrencyTypeName"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="disbursementVoucherWireTransferFeeWaiverIndicator"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="disbursementVoucherPayeeAccountName"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="disbursementVoucherAutomatedClearingHouseProfileNumber"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="foreigndraft">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="0" ref="disbursementVoucherForeignCurrencyTypeCode"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="disbursementVoucherForeignCurrencyTypeName"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>    
    
    <xsd:element name="note">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1" ref="noteText"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="attachment">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="0" ref="mimeTypeCode"/>
                <xsd:element maxOccurs="1" minOccurs="1" ref="fileName"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>    
   
</xsd:schema>    