src/test/resources/edu/cornell/kfs/concur/rest/xmlObjects/fixture/failed-event-queue-response-schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:i="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.concursolutions.com/api/notification/2012/06" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="NotificationList">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Notification">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Context" nillable="true" />
              <xs:element name="EventDateTime" type="xs:string" />
              <xs:element name="EventType" type="xs:string" />
              <xs:element name="NotificationURI" type="xs:string" />
              <xs:element name="ObjectType" type="xs:string" />
              <xs:element name="ObjectURI" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>