src/main/webapp/wsdl/KFSVendorWebService.wsdl

<wsdl:definitions xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.vnd.kfs.cornell.edu/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="KFSVendorWebServiceImplService" targetNamespace="http://service.vnd.kfs.cornell.edu/">
<wsdl:types>
<xs:schema xmlns="http://service.vnd.kfs.cornell.edu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service.vnd.kfs.cornell.edu/">
<xs:complexType name="vendorAddressParam">
<xs:sequence>
<xs:element name="active" type="xs:boolean"/>
<xs:element minOccurs="0" name="purchaseOrderTransmissionMethodCode" type="xs:string"/>
<xs:element minOccurs="0" name="vendorAddressEmailAddress" type="xs:string"/>
<xs:element minOccurs="0" name="vendorAddressGeneratedIdentifier" type="xs:int"/>
<xs:element minOccurs="0" name="vendorAddressInternationalProvinceName" type="xs:string"/>
<xs:element minOccurs="0" name="vendorAddressTypeCode" type="xs:string"/>
<xs:element minOccurs="0" name="vendorAttentionName" type="xs:string"/>
<xs:element minOccurs="0" name="vendorBusinessToBusinessUrlAddress" type="xs:string"/>
<xs:element minOccurs="0" name="vendorCityName" type="xs:string"/>
<xs:element minOccurs="0" name="vendorCountryCode" type="xs:string"/>
<xs:element name="vendorDefaultAddressIndicator" type="xs:boolean"/>
<xs:element minOccurs="0" name="vendorFaxNumber" type="xs:string"/>
<xs:element minOccurs="0" name="vendorLine1Address" type="xs:string"/>
<xs:element minOccurs="0" name="vendorLine2Address" type="xs:string"/>
<xs:element minOccurs="0" name="vendorStateCode" type="xs:string"/>
<xs:element minOccurs="0" name="vendorZipCode" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="vendorContactParam">
<xs:sequence>
<xs:element name="active" type="xs:boolean"/>
<xs:element minOccurs="0" name="vendorAddressInternationalProvinceName" type="xs:string"/>
<xs:element minOccurs="0" name="vendorAttentionName" type="xs:string"/>
<xs:element minOccurs="0" name="vendorCityName" type="xs:string"/>
<xs:element minOccurs="0" name="vendorContactCommentText" type="xs:string"/>
<xs:element minOccurs="0" name="vendorContactEmailAddress" type="xs:string"/>
<xs:element minOccurs="0" name="vendorContactGeneratedIdentifier" type="xs:int"/>
<xs:element minOccurs="0" name="vendorContactName" type="xs:string"/>
<xs:element minOccurs="0" name="vendorContactTypeCode" type="xs:string"/>
<xs:element minOccurs="0" name="vendorCountryCode" type="xs:string"/>
<xs:element minOccurs="0" name="vendorLine1Address" type="xs:string"/>
<xs:element minOccurs="0" name="vendorLine2Address" type="xs:string"/>
<xs:element minOccurs="0" name="vendorStateCode" type="xs:string"/>
<xs:element minOccurs="0" name="vendorZipCode" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="vendorSupplierDiversityParam">
<xs:sequence>
<xs:element name="active" type="xs:boolean"/>
<xs:element minOccurs="0" name="vendorSupplierDiversityCode" type="xs:string"/>
<xs:element minOccurs="0" name="vendorSupplierDiversityExpirationDate" type="xs:dateTime"/>
</xs:sequence>
</xs:complexType>
<xs:element name="retrieveKfsVendorByNamePlusLastFour" type="retrieveKfsVendorByNamePlusLastFour"/>
<xs:complexType name="retrieveKfsVendorByNamePlusLastFour">
<xs:sequence>
<xs:element minOccurs="0" name="vendorName" type="xs:string"/>
<xs:element minOccurs="0" name="lastFour" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="retrieveKfsVendorByNamePlusLastFourResponse" type="retrieveKfsVendorByNamePlusLastFourResponse"/>
<xs:complexType name="retrieveKfsVendorByNamePlusLastFourResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="addVendor" type="addVendor"/>
<xs:complexType name="addVendor">
<xs:sequence>
<xs:element minOccurs="0" name="vendorName" type="xs:string"/>
<xs:element minOccurs="0" name="vendorTypeCode" type="xs:string"/>
<xs:element name="isForeign" type="xs:boolean"/>
<xs:element minOccurs="0" name="taxNumber" type="xs:string"/>
<xs:element minOccurs="0" name="taxNumberType" type="xs:string"/>
<xs:element minOccurs="0" name="ownershipTypeCode" type="xs:string"/>
<xs:element name="isTaxable" type="xs:boolean"/>
<xs:element name="isEInvoice" type="xs:boolean"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="addresses" type="vendorAddressParam"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="contacts" type="vendorContactParam"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="supplierDiversitys" type="vendorSupplierDiversityParam"/>
</xs:sequence>
</xs:complexType>
<xs:element name="addVendorResponse" type="addVendorResponse"/>
<xs:complexType name="addVendorResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="updateVendor" type="updateVendor"/>
<xs:complexType name="updateVendor">
<xs:sequence>
<xs:element minOccurs="0" name="vendorName" type="xs:string"/>
<xs:element minOccurs="0" name="vendorTypeCode" type="xs:string"/>
<xs:element name="isForeign" type="xs:boolean"/>
<xs:element minOccurs="0" name="vendorNumber" type="xs:string"/>
<xs:element minOccurs="0" name="ownershipTypeCode" type="xs:string"/>
<xs:element name="isTaxable" type="xs:boolean"/>
<xs:element name="isEInvoice" type="xs:boolean"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="addresses" type="vendorAddressParam"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="contacts" type="vendorContactParam"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="supplierDiversitys" type="vendorSupplierDiversityParam"/>
</xs:sequence>
</xs:complexType>
<xs:element name="updateVendorResponse" type="updateVendorResponse"/>
<xs:complexType name="updateVendorResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="retrieveKfsVendor" type="retrieveKfsVendor"/>
<xs:complexType name="retrieveKfsVendor">
<xs:sequence>
<xs:element minOccurs="0" name="vendorId" type="xs:string"/>
<xs:element minOccurs="0" name="vendorIdType" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="retrieveKfsVendorResponse" type="retrieveKfsVendorResponse"/>
<xs:complexType name="retrieveKfsVendorResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="retrieveKfsVendorByEin" type="retrieveKfsVendorByEin"/>
<xs:complexType name="retrieveKfsVendorByEin">
<xs:sequence>
<xs:element minOccurs="0" name="vendorEin" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="retrieveKfsVendorByEinResponse" type="retrieveKfsVendorByEinResponse"/>
<xs:complexType name="retrieveKfsVendorByEinResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="vendorExists" type="vendorExists"/>
<xs:complexType name="vendorExists">
<xs:sequence>
<xs:element minOccurs="0" name="vendorId" type="xs:string"/>
<xs:element minOccurs="0" name="vendorIdType" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="vendorExistsResponse" type="vendorExistsResponse"/>
<xs:complexType name="vendorExistsResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:element name="uploadAtt" type="uploadAtt"/>
<xs:complexType name="uploadAtt">
<xs:sequence>
<xs:element minOccurs="0" name="vendorId" type="xs:string"/>
<xs:element expectedContentTypes="application/octet-stream" minOccurs="0" name="fileData" type="xs:base64Binary"/>
<xs:element minOccurs="0" name="fileName" type="xs:string"/>
<xs:element minOccurs="0" name="noteText" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="uploadAttResponse" type="uploadAttResponse"/>
<xs:complexType name="uploadAttResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="uploadAttachment" type="uploadAttachment"/>
<xs:complexType name="uploadAttachment">
<xs:sequence>
<xs:element minOccurs="0" name="vendorId" type="xs:string"/>
<xs:element minOccurs="0" name="fileData" type="xs:string"/>
<xs:element minOccurs="0" name="fileName" type="xs:string"/>
<xs:element minOccurs="0" name="noteText" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="uploadAttachmentResponse" type="uploadAttachmentResponse"/>
<xs:complexType name="uploadAttachmentResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="uploadAttachmentResponse">
<wsdl:part element="tns:uploadAttachmentResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="updateVendor">
<wsdl:part element="tns:updateVendor" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="vendorExists">
<wsdl:part element="tns:vendorExists" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="uploadAttachment">
<wsdl:part element="tns:uploadAttachment" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="vendorExistsResponse">
<wsdl:part element="tns:vendorExistsResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="addVendorResponse">
<wsdl:part element="tns:addVendorResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="addVendor">
<wsdl:part element="tns:addVendor" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="retrieveKfsVendorByNamePlusLastFourResponse">
<wsdl:part element="tns:retrieveKfsVendorByNamePlusLastFourResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="retrieveKfsVendor">
<wsdl:part element="tns:retrieveKfsVendor" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="retrieveKfsVendorResponse">
<wsdl:part element="tns:retrieveKfsVendorResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="uploadAtt">
<wsdl:part element="tns:uploadAtt" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="uploadAttResponse">
<wsdl:part element="tns:uploadAttResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="retrieveKfsVendorByNamePlusLastFour">
<wsdl:part element="tns:retrieveKfsVendorByNamePlusLastFour" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="retrieveKfsVendorByEin">
<wsdl:part element="tns:retrieveKfsVendorByEin" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="retrieveKfsVendorByEinResponse">
<wsdl:part element="tns:retrieveKfsVendorByEinResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="updateVendorResponse">
<wsdl:part element="tns:updateVendorResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:portType name="KFSVendorWebService">
<wsdl:operation name="retrieveKfsVendorByNamePlusLastFour">
<wsdl:input message="tns:retrieveKfsVendorByNamePlusLastFour" name="retrieveKfsVendorByNamePlusLastFour"></wsdl:input>
<wsdl:output message="tns:retrieveKfsVendorByNamePlusLastFourResponse" name="retrieveKfsVendorByNamePlusLastFourResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="addVendor">
<wsdl:input message="tns:addVendor" name="addVendor"></wsdl:input>
<wsdl:output message="tns:addVendorResponse" name="addVendorResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="updateVendor">
<wsdl:input message="tns:updateVendor" name="updateVendor"></wsdl:input>
<wsdl:output message="tns:updateVendorResponse" name="updateVendorResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="retrieveKfsVendor">
<wsdl:input message="tns:retrieveKfsVendor" name="retrieveKfsVendor"></wsdl:input>
<wsdl:output message="tns:retrieveKfsVendorResponse" name="retrieveKfsVendorResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="retrieveKfsVendorByEin">
<wsdl:input message="tns:retrieveKfsVendorByEin" name="retrieveKfsVendorByEin"></wsdl:input>
<wsdl:output message="tns:retrieveKfsVendorByEinResponse" name="retrieveKfsVendorByEinResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="vendorExists">
<wsdl:input message="tns:vendorExists" name="vendorExists"></wsdl:input>
<wsdl:output message="tns:vendorExistsResponse" name="vendorExistsResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="uploadAtt">
<wsdl:input message="tns:uploadAtt" name="uploadAtt"></wsdl:input>
<wsdl:output message="tns:uploadAttResponse" name="uploadAttResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="uploadAttachment">
<wsdl:input message="tns:uploadAttachment" name="uploadAttachment"></wsdl:input>
<wsdl:output message="tns:uploadAttachmentResponse" name="uploadAttachmentResponse"></wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="KFSVendorWebServiceImplServiceSoapBinding" type="tns:KFSVendorWebService">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="retrieveKfsVendorByNamePlusLastFour">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="retrieveKfsVendorByNamePlusLastFour">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="retrieveKfsVendorByNamePlusLastFourResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="addVendor">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="addVendor">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="addVendorResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="updateVendor">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="updateVendor">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="updateVendorResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="retrieveKfsVendor">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="retrieveKfsVendor">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="retrieveKfsVendorResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="retrieveKfsVendorByEin">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="retrieveKfsVendorByEin">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="retrieveKfsVendorByEinResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="vendorExists">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="vendorExists">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="vendorExistsResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="uploadAtt">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="uploadAtt">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="uploadAttResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="uploadAttachment">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="uploadAttachment">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="uploadAttachmentResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="KFSVendorWebServiceImplService">
<wsdl:port binding="tns:KFSVendorWebServiceImplServiceSoapBinding" name="KFSVendorWebServiceImplPort">
<soap:address location="http://localhost:8888/kfs-dev/ws/KFSVendorWebService"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>